{% extends 'core/base.html' %}
{% load staticfiles %}
{% block title %} - Cambio de contraseña{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'usuario/css/cambiar_password.css' %}">
{% endblock %}

{% block html %}
    <h1 class="cp_h1">CAMBIAR CONTRASEÑA</h1>
    <p>
        <a href="{% url 'index' %}"><u>Volver al inicio</u> </a>
    </p>
    <form class="formulario">
        <div>
             <label>
                 Ingrese su nueva contraseña
                <input type="password" required>
             </label>
        </div>
        <div>
             <label>
                Vuelva a escribir su contraseña
                <input type="password" required>
            </label>
        </div>
<input type="submit" value="Guardar Cambios">

    </form>
{% endblock %}