<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Principal</title>
</head>
<body>
    <ul>
            <li><a href="#Icono_empresa">Icono de la empresa</a>   </li> 
            <li><a href="#Bienvenida">Bienvenida</a>
        
                        <details>
                                <p>opcion1</p>
                                <p>opcion2</p>
                        </details>
         
             </li>
            <li><a href="./Cambiar_password.html">Cambiar password</a>    </li>
            <li><a href="#Cerrar_sesion">Cerrar sesion</a>    </li>
        </ul>
<h2>Misión</h2>
<p>Ser una empresa que trabaja para brindar a sus clientes la mayor diversidad en 
    materiales de construcción y de ferretería en general, bajo premisas de precio, 
    calidad y servicio acorde a las exigencias del mercado, comprometiéndonos con la 
    capacitación constante de nuestro recurso humano, para que este sea altamente calificado, 
    productivo y comprometido a mantener la preferencia y satisfacción de nuestros clientes; 
    con la finalidad de generar un crecimiento rentable, en beneficio de todos que nos permita 
    mantener y mejorar cada día la calidad y servicio prestado.</p>
<h2>Visión</h2>
<p>Mantener un sólido posicionamiento y liderazgo comercial en cuanto a la venta de materiales 
    de construcción y ferretería en general, superando las perspectivas de calidad y servicio de
     nuestros clientes, gracias al apoyo incondicional de un comprometido equipo de trabajo, 
     permitiéndonos así sostener un alto grado de responsabilidad social y comercial que nos 
     garantice solidez financiera y crecimiento sostenible</p>
            

    
    



</body>
</html>