{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'usuario/css/login.css' %}">
</head>
<body>
    {% if messages %}
    {% for msg in messages %}
    <div class="message__{{msg.tags}}">
        <span>{{ msg }}</span>
    </div>
    {% endfor %}
    {% endif %}
    <style>
        .message__info {
            color: white;
        }
        .message__error {
            color: red;
        }
    </style>
    <div class = "contenedor">
        <section class="span">
            <span><b>Bienvenido</b></span>
        </section>
        <form method="POST">
            {% csrf_token %}
        <section class="formulario">
            <div class="username">
                <input type="text" placeholder="Nombre de usuario" name="username">
            </div>
            <div class="password">
                <input type="password" placeholder="Contraseña" name="password">
            </div>
            <div class="button">
                <button type="submit">Entrar</button>
            </div>
        </section>
        </form>
    </div>
</body>
</html>